---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none !important;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

.f_right {
  width:300px;
  height:300px;
  float: right;
}
