---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none !important;
}

.group{
  display: flow-root;
}

.f-right {
  float: right;
  max-width: 50%;
}

.f-left {
  float: left;
  max-width: 50%;
}

@media screen and (max-width: 600px) /* Mobile */ {
  .f-right, .f-left {
    float: none;
    max-width: 100%
  }
