---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none !important;
}

img {
  object-fit: contain;
}

@media screen and (min-width: 600px) /* Desktop */ {

.group{
  display: flow-root;
}

.f-right {
  float: right;
  max-width: 45%;
}

.f-left {
  float: left;
  max-width: 45%;
}
}
